Language:        Java
AlignConsecutiveAssignments: false
AlignTrailingComments: false
AlignOperands: false
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
ColumnLimit: 100
ConstructorInitializerIndentWidth: 1
IndentWidth: 4
PenaltyBreakComment: 100
ReflowComments: false
TabWidth: 4


